.condition__container {
  max-width: 780px;
  padding: 0 40px;
  margin: 0 auto;
  padding-top: 200px;
}
.condition-title {
  text-align: center;
  margin-bottom: 20px;
}

.condition-subtitle{
  text-align: center;
  margin-bottom: 40px;
}

.condition {
  margin-bottom: 40px;
}

#return_money {
  padding-top: 600px;
  margin-top: -600px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}