

.header__container {
    max-width: 1400px;
}

.header__content{
    padding: 92px 0px;
    max-width: 1350px;
}

.networking-title {
    color: #ffffff;
    font-family: "Jost", sans-serif;
    font-size: 48px !important;
    font-weight: 500 !important;
    line-height: 75px !important;
    letter-spacing: 0.48px;
    margin-bottom: 42px;
    position: relative;
    
    &:before {
        display: none;
    }
}

.header__content-title::before {
    content: '';
    position: absolute;
    width: 240px;
    height: 10px;
    background-image: linear-gradient(to left, rgba(249, 249, 249, 0) 0%, #36f2e3 100%);
    opacity: 0.6;
    border-radius: 5px;
    bottom: 6px;
    z-index: 0;
}


.header__content-path {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.7px;
}

.main__container {
    max-width: 1400px;
    padding: 0px 40px;
    margin: 0 auto;
    position: relative;
}

.main__content {
    max-width: 1350px;
    padding: 50px 0px 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.main__content-pattern {
    position: absolute;
    z-index: 0;
    left: 0;
}

.main__content__search {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__content__form-wrapper {
    width: 60%;
}

.main__form-wrapper__title {
    color: #ffffff;
    font-family: "Jost",sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0.36px;
    margin-bottom: 40px;
    width: 100%;
}

.main__form-wrapper__text {
    width: 100%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.main__content-back {
    width: 85%;
    position: absolute;
}

.main__content-pattern2{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.main__hashtags-container {
    position: relative;
}

.main__cards-container {
    position: relative;
}

.search-form__select-wrapper{
    width: 100%;
    position: relative;
    &:before {
        content: '';
        background-image: url(../images/down-arrow_netw.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 23px;
        height: 12px;
        position: absolute;
        right: 15px;
        top:50%;
        transform: translateY(-11.5px);
        pointer-events: none;
    }
}

.searchForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-form__input {
    width: 100%;
    box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    height: 45px;
    margin-bottom: 15px;
    padding: 0 20px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.03px;
    display: flex;
    align-items: center;
}

.search-form__text {
    width: 100%;
    box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 15px 20px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.03px;
}

.search-form__text::placeholder,
.search-form__input::placeholder {
    color: #919191;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30.03px;
}

.search-form__button {
    width: auto !important;
    max-width: 250px;
    height: 60px;
    font-size: 16px;
    text-transform: unset;
    padding: 0 30px;
    align-self: center;
}

.main__hashtags-container {
    width: 100%;
    background-color: #ffffff;
    background-image: linear-gradient(-16deg, #ba89f4 0%, #36f2e3 100%);
    padding: 50px 40px 50px;
}

.main__hashtags-content {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main__hashtags { 
    color: #313131;
    font-family: "Jost",sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.48px;
    text-align: center;

    span{
        cursor: pointer;
    }
}



@media (min-width: 1199px) {
    .main__hashtags {
        font-size: 48px;
        line-height: 60px;
    }
}

.main__cards-container{
    width: 100%;
    background-color: #ffffff;
    background-image: linear-gradient(-16deg, rgba(54, 242, 227, 0.8) 0%, rgba(230, 255, 175, 0.8) 100%);
    padding: 50px 50px;
}

.main__cards-content {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__cards-title{
    color: #313131;
    font-family: Jost,sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: .48px;
    margin-bottom: 35px;
    text-align: center;
}

.main__hashtags-title {
    color: #313131;
    font-family: Jost,sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: .48px;
    margin-bottom: 40px;
    text-align: center;
}

.main__cards {
    width: 100%;
    margin-bottom: 45px;
}

.main__card {
    box-shadow: 0 7px 27px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 37px 32px 37px 42px;
    margin-bottom: 30px;
    width: 100%;
}

.main__content-pattern {
    display: none;
}

.main__card-title {
    color: #313131;
    font-family: "Jost", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.main__card-description {
    max-width: 581px;
    color: #919191;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.main__cards-button {
    width: 158px;
    height: 60px;
    color: #313131;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

@media screen and(max-width: 768px){
    .header__content-title{
        font-size: 28px !important;
        line-height: 52px !important;
    }

    .networking-title{
        margin-bottom: 20px;
    }

    .main__cards-title, .main__hashtags-title{
        font-size: 28px;
        line-height: 52px;
    }

    .main__hashtags-title{
        margin-bottom: 28px;
    }

    .main__content__form-wrapper {
        width: 100%;
    }
}