.main__partners-container {
    position: relative;
    width: 100%;
    padding: 0px 40px;
    background-image: url('../images/blog-tech-conferences.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    
    &:before {
        content: '';
        background-color: #15162b;
        opacity: .9;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 0;
    }
}

.main__partners-content {
    position: relative;
    max-width: 1350px;
    margin: 0 auto;
    padding: 218px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.main__partners__content-title {
    color: #ffffff;
    font-family: "Jost", sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 75px;
    letter-spacing: 0.48px;
    margin-bottom: 42px;
    position: relative;
}

.main__partners__content-title::before {
    content: '';
    position: absolute;
    width: 240px;
    height: 10px;
    background-image: linear-gradient(to left, rgba(249, 249, 249, 0) 0%, #36f2e3 100%);
    opacity: 0.6;
    border-radius: 5px;
    bottom: 6px;
    z-index: 0;
}

.main__partners__content-path {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.7px;
}

.main__support__container {
    padding: 50px 40px 0px;
}

.main__support-cards {
    margin-bottom: 0;
}
.main__support-cards2 {
    margin-bottom: 60px;
}

.main__support__content-cards{
    width: 100%;
}

.main__support__content-card_wrapper{
    width: 100%;
}

.main__support__content-card {
    width: 100%;
    min-height: 354px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 35px;
    position: relative;
}

.main__support__content-card_description{
    width: 100%;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 23px 36px 56px;
    background-image: linear-gradient(-16deg, #ba89f4 0%, #36f2e3 100%);
    transform: translateY(-5px);
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main__support__content {
    padding: 0 !important;
}

.main__support__content-card_img{
    height: 180px;
}

.main__support__content-card_title {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-align: center;
}

.main__support__expand_description {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("../images/icons8.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition-duration: 0.7s;
    position: absolute;
    bottom: 5px;
}

.expand__active {
    transform: rotate(180deg);
    transition-duration: 0.7s;
}

.background__texture {
    display: none;
}

#supportAll,
#supportPartners,
 #supportInformative {
     cursor: pointer ;
 }

 .main__partners-pattern {
     width: 100%;
     position: absolute;
     top: 442px;
 }

 main{
     overflow-x: hidden;
 }

 body {
     overflow-x: hidden;
 }

 .main__support__container {
     position: relative;
     z-index: 2;
 }

.main__support__slick-slider  {
     display: none;
 }

 @media screen and (max-width: 1200px) {
     .main__support__content-card {
         margin-bottom: 40px;
     }


     .main__support__content-card_description {
         transform: translateY(-45px);
     }

     .main__support__expand_description{
         display: block;
     }
 }

 @media screen and(max-width: 768px) {
     .main__support-cards{
         margin-bottom: 0;
     }

     .main__support-cards2 {
         margin-bottom: 60px;
     }

     .main__partners__content-title{
         text-align: center;
     }

     .main__partners-content {
         padding-top: 155px;
     }

     .main__support__slick-slider {
         display: block;
     }

     .main__support__content{
         width: 100%;
     }

     .main__support__content-cards {
         display: none;
     }

     .main__support__slick-slider{
         width: 100%;
     }

     .slick__prev {
         position: absolute;
         z-index: 3;
         top: 50%;
         transform: translateY(-100%) rotate(-180deg);
         background-color: unset;
         opacity: 0.4;
         left: 5px;
         &:hover{
             outline: none !important;
         }

         img {
             width: 22px;
         }

     }

     .slick__next {
         position: absolute;
         right: 5px;
         z-index: 3;
         top: 50%;
         transform: translateY(-100%);
         background-color: unset;
         &:hover{
             outline: none !important;
         }
         img {
             width: 22px;
         }
         opacity: 0.4;
     }


 }
