.policy-list {
  margin-top: 40px;
  list-style: inside;
  margin-bottom: 40px;
}

.confidentiality_policy-title {
  text-align: center;
  margin-bottom: 20px;
}

.confidentiality_policy{
  margin-bottom: 40px;
}

.policy__container {
  max-width: 780px;
  margin: 0 auto;
  padding: 200px 40px 0;
}