.rules__container-title {
  text-align: center;
  margin-bottom: 40px;
}

.rules_title {
  margin-bottom: 20px;
}

.rules{
  margin-bottom: 40px;
}

.rules__container {
  max-width: 780px;
  margin: 0 auto;
  padding: 200px 40px 0;
}