.warning-title{
  text-align: center;
  margin-bottom: 20px;
}

.warning-subtitle {
  margin-bottom: 20px;
  font-size: 20px;
}

.warning-description {
  margin-bottom: 40px;
}

.warning__container {
  max-width: 780px;
  margin: 0 auto;
  padding: 200px 40px 0;
}